<link rel="stylesheet" href="/css/headerAndFooter.css">





  <div class="containerfooter">
   <div class="content">

<span class="whiteColor snapShot">
  Release ver.1.0.0-1-SNAPSHOT-110034
</span>

    <span class="whiteColor centeralign">© 2023 Mayuresh, Inc</span>

    <ul class="ulfooter">
     <li><i class="fa-brands fa-square-x-twitter fa-xl twitter-icon-radius"></i></li>
     <li><i class="fa-brands fa-instagram fa-xl twitter-icon-radius"></i></li>
     <li><i class="fa-brands fa-linkedin fa-xl twitter-icon-radius"></i></li>
    
    </ul>



   </div>



  </div>