<link rel="stylesheet" href="/css/createProject.css">


<div class="maincreatePage">


  <h2 class="headingStyle">Create Project</h2>

<div class="createForms">



  <form method="POST" action="/createProject/createNewProject">

    <!-- Name -->
    <div class="form-group">
      <label for="exampleInputEmail1"  class="labelClass">Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
     
    </div>

<br>
    
    <!-- Description -->
    <div class="form-group">
      <label for="exampleInputEmail1"  class="labelClass">Description</label>
      <input type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Description">
     
    </div>

<br>

   <!-- Author -->
    <div class="form-group">
      <label for="exampleInputEmail1" class="labelClass">Author</label>
      <input  type="text" name="author" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Author">
     
    </div>

   
<br>

    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

    <div class="d-flex justify-content-center">
      <button  type="submit" class="btn btn-success">Submit</button>
    </div>


  </form>


</div>

</div>
