<link rel="stylesheet" href="/css/createProject.css">


<div class="maincreatePage">


<div class="createForms">



  <form method="POST" action="/createProject/createNewProject">

    <!-- Name -->
    <div class="form-group">
      <label for="exampleInputEmail1"  class="labelClass">Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
     
    </div>


    
    <!-- Description -->
    <div class="form-group">
      <label for="exampleInputEmail1"  class="labelClass">Description</label>
      <input type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Description">
     
    </div>



   <!-- Author -->
    <div class="form-group">
      <label for="exampleInputEmail1" class="labelClass">Author</label>
      <input  type="text" name="author" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Author">
     
    </div>



   


  


    <button type="submit" class="btn btn-primary">Submit</button>


  </form>


</div>

</div>
