
.maincreatePage{
    min-height: 100vh;
}
.create-Issue{
  min-height: 100px;
}

.btncreate{
    height: 50px;
    width: 170px;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    font-size: 18px;
    outline: none;
    font-weight: 800;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    font-family: 'Roboto',sans-serif;
}
.btncreate:hover{
    border: none;
    outline: none;
    background-color: #1d6bd1;
}

.createForms{
    margin: 30px 30px;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    
}
.headingStyle{
    font-family: 'Roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.form-group{
    width: 50vw;
}
.form-control{
    font-family: 'Manrope', sans-serif;
    margin: 5px 1px;
}

.labelClass{
    font-size: 16px ;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}