.mainContainer{
    min-height: 100vh;
    margin-bottom: 10px;
}
.createForms{
    margin: 30px 30px;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
 
    
}
.nameOfProject{
    text-transform: uppercase;
    font-family: 'Manrope',sans-serif;
}
.form-group{
    width: 50vw;
}
.form-control{
    font-family: 'Manrope', sans-serif;
    margin: 5px 1px;
}

.labelClass{
    font-size: 16px ;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.headerTitle{
    font-weight: 800;
    font-family: 'Roboto',sans-serif;
}

.dropDown{
    width: 50vw;
    font-family: 'Manrope', sans-serif;
    margin: 5px 1px;
}
.selectLabels{
    width: 15vw;
}
.selectLabels::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
.optionLabels:nth-child(odd){
    color: grey;
}

.containerforSearch{
    min-height: 100vh;
    margin: 5px 30px;
}
.cardforSearch{

    width: 500px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.searchName{

    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: 'Manrope',sans-serif;
    text-transform: uppercase;
}