.mainContainer{
    min-height: 100vh;
    margin-bottom: 10px;
}
.createForms{
    margin: 30px 30px;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
 
    
}
.nameOfProject{
    text-transform: uppercase;
    font-family: 'Manrope',sans-serif;
}
.form-group{
    width: 50vw;
}
.form-control{
    font-family: 'Manrope', sans-serif;
    margin: 5px 1px;
}

.labelClass{
    font-size: 16px ;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.headerTitle{
    font-weight: 800;
    font-family: 'Roboto',sans-serif;
}

.dropDown{
    width: 50vw;
    font-family: 'Manrope', sans-serif;
    margin: 5px 1px;
}
.selectLabels{
    width: 15vw;
}
.selectLabels::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
.optionLabels:nth-child(odd){
    color: grey;
}

.containerforSearch{
    min-height: 100vh;
    margin: 5px 30px;
}
.cardforSearch{

    width: 500px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.searchName{

    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: 'Manrope',sans-serif;
    text-transform: uppercase;
}


/* Add this style to your global styles (styles.css) or component-specific styles */
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff; /* White text color */
    background-color: #2196F3; /* Blue background color */
    overflow: hidden;
    position: relative;
  }
  
  .custom-button:hover {
    background-color: #0b7dda; /* Darker blue on hover */
  }
  
  .custom-button::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3); /* Ripple color with transparency */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }
  
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }