nav{
    height: 60px;
    font-family: 'Manrope',sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-shadow: 1px 1px orange;
    
}
.titleDiv{
    margin: 2px 10px;
    text-align: center;
    font-weight: 900;
    color: white;
}


.containerfooter{
    font-weight: 900;
     height: 60px;
     width: 100%;
     background-color: black;
     font-family: 'Roboto' ,sans-serif;
     color: white;
     padding: 0px;
     margin:0px;
}


.whiteColor{
    color: white;
}
.centeralign{
    text-align: center;
}
.content{
    margin: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulfooter{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    left: 35%;
    margin-top: 10px;


}
.ulfooter li{
    text-align: none;
    list-style: none;
    margin: 2px 10px;
}
.twitter-icon-radius {
    transition: border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
.twitter-icon-radius:hover{
    /* box-shadow: 0 4px 8px 10px red;
    border-radius: 50%; */
    cursor: pointer;
    border-radius: 50%; /* Set the border-radius to 50% for a circular shape */
    box-shadow:1px 4px 20px 12px #ca2f2f; /* Add a subtle box shadow on hover */
}
.snapShot{
    display: flex;
position: absolute;
left: 10px;
font-family: 'Roboto',sans-serif;
}