
.bodymain{
    min-height: 100vh;
    margin: 5px 30px;
   
}

header{
    background-color: darkgray;
    padding: 0px;
    margin: 0px;
}

header h1{
    text-align: center;
}


.navbar{
  height: 60px;
  font-family: 'Roboto',sans-serif;

}
.main{
    display: inline;
    position: relative;
  min-height: 90vh;
  
}

.fullWidth{
  width: 100%;
  display: inline-flex;
}
.halfWidth{
  width: 50%;
  margin-top: 5px;
}
.createProject{
    height: 5vh;
    /* width: 95vw; */
}

.btncreate{
    height: 50px;
    width: 170px;
    border-radius: 10px;
    background-color: #1a73e8;
    color: white;
    font-size: 18px;
    font-weight: 800;
    float: right;
    /* margin-top: 5px; */
    font-family: 'Manrope',sans-serif;
}
.btncreate:hover{
    border: none;
    outline: none;
    background-color: #2b81f2;
}


/* CSS styles for the search input */
.search-container {
  position: relative;

}

#search-input {
  padding: 10px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ddd;
  outline: none;
  width: 250px; /* Adjust the width as needed */
  font-family: 'Roboto',sans-serif;
}
#search-input:focus {
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7); /* Box shadow on focus */
}

#search-button {
  height: 50px;
  padding: 10px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  margin-left: -40px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto',sans-serif;
}

.btngetDetails {
  position: relative; 
  height: 50px;
  width: 170px;
  border-radius: 10px;
  background-color: #f6a738;
  color: white;
  font-size: 18px;
  font-weight: 800;
  float: right;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Ensures the arrow doesn't overflow the button */
}



.move-right-arrow {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 33%;
  right: 15px;
  transform: translateX(0);
}

.btngetDetails:hover .move-right-arrow {
  transform: translateX(10px); /* Adjust the value based on how much you want it to move */
}
.btngetDetails:hover {
  background-color: #eb9114;
  outline: none;
  border: none;
  color: black;
}


.blackcolor{
    color: black;
}

.project-list{
    color: black;
}




.card {
    width: 500px;
    min-height: 200px;
    display: inline-flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
  }
 

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: 'Manrope',sans-serif;
  }

  .card-description,
  .card-author {
    margin-bottom: 8px;
  }

  .card-description {
    color: #555;
  }

  .card-author {
    font-style: italic;
    color: #888;
  }

  .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: transform 1s ease-in-out ;
  }